.address {
  margin: 0;
  padding-bottom: 2em;
  padding-top: .5em;

  @include respond-to(medium) {
    display: inline-block;
    font-size: .85em;
    margin: 0;
    width: 45%;

    &:nth-child(odd) {
      margin-right: 4%;
    }

    &:nth-child(even) {
      margin-left: 4%;
    }
  }
}
