.border-wrapper {
  max-width: 100%;
  position: relative;

  * {
    display: block;
    margin: 0;
    z-index: 0;
  }

  .border-wrapper__border {
    @include cover();
    box-shadow: 0 0 8px 8px $color-blue-dark inset;
    margin: -1px;
    padding: .25rem;
    pointer-events: none;
    z-index: 1;
  }

  &.border-wrapper--image {
    display: inline-block;
  }
}

.border-wrapper-annotation {
  display: block;
  margin-bottom: 1.75em;
  margin-top: -2em;
}
