button,
.button {
  background-color: transparent;
  border: 2px solid $color-white;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.9rem;
  margin: 0;
  padding: .2em .8em;
  position: relative;
  text-align: center;
  transition: background-color ease $transition-default,
              border-color ease $transition-default,
              color ease $transition-default;

  &:focus,
  &:hover {
    border-color: $color-gold;
  }
}
