.footer {
  animation: pop-in 1.6s ease-out -.4s forwards;
  bottom: -1em;
  height: 84px;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: $z-index-header;

  @include respond-to(small) {
    height: 102px;
  }

  &::before {
    animation: fade-in $transition-slow ($transition-slow * 2) ease-in backwards;
    background: linear-gradient(to bottom,
      transparent 0%, $color-blue-dark 40%, $color-blue-dark 100%);
    bottom: 0;
    content: '';
    height: $footer-height * 3.5;
    left: 0;
    position: fixed;
    right: 0;
    z-index: $z-index-header;
  }
}

.footer__barn {
  @include cover();
  animation: pop-up 1s ease-out -1s forwards;
  background-image: url('../img/pimhill.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0 auto;
  max-width: $screen-large;
  opacity: $opacity-sub;
  transition: transform $transition-slow $transition-cubic;
  width: 85vw;
  z-index: $z-index-header;
}

.footer-wrapper {
  bottom: -1em;
  left: 0;
  position: fixed;
  right: 0;
  transition: opacity ease-out $transition-fast $transition-fast;

  &.footer-wrapper--hidden {
    opacity: 0;
    transition-delay: 0s;

    @media (min-height: $screen-small * 2) and (min-width: $screen-large) {
      opacity: 1;
    }
  }

  @media (max-height: $screen-small) {
    opacity: 0;
  }
}
