.form,
form {
  margin: -1.25em 0 3em;
  transition: opacity $transition-default $transition-cubic;

  &.form--faded {
    opacity: 0;
  }

  .button,
  button,
  input,
  label,
  select,
  textarea,
  .form__group,
  .form__error {
    display: block;
    margin: 1em auto 0;
    max-width: $form-width;
    width: 100%;
  }

  .form__group {
    margin: 1em auto 2em;

    label {
      display: inline-block;
      margin: 0 .75em;
      width: auto;
    }

    p {
      margin-bottom: 0;
    }
  }

  input,
  select,
  textarea, {
    background-color: $color-white-formfield;
    border: 3px solid transparent;
    box-sizing: border-box;
    font-size: 1.2em;
    height: $form-input-height;
    margin-top: 1rem;
    padding: .4em .5em .6em;
    transition: background-color $transition-default ease-out,
                color $transition-default ease-out;

    &:focus,
    &:hover,
    &.form__focused {
      border-color: $color-gold-subtle;
    }

    &[disabled],
    &[disabled]:-webkit-autofill {
      background-color: $color-white-formfield;
    }
  }

  input {
    padding: 0 .5em;

    &::placeholder {
      position: relative;
      top: -3px;
    }
  }

  [type='checkbox'] {
    cursor: pointer;
    height: 0;
    margin: 0;
    opacity: 0;
    position: relative;
    width: 0;
  }

  .form__checkbox {
    position: relative;

    &::before {
      background-color: $color-white;
      content: '';
      display: block;
      height: 1em;
      left: -1.5em;
      position: absolute;
      top: .25em;
      transition: background-color $transition-fast ease-in;
      width: 1em;
    }

    &::after {
      border-bottom: 5px solid $color-gold-subtle;
      border-right: 5px solid $color-gold-subtle;
      box-shadow: 1px 1px 1px 0 $color-shadow-subtle;
      content: '';
      display: block;
      height: 1em;
      left: -1.5em;
      opacity: 0;
      position: absolute;
      top: .25em;
      transform: rotate(45deg) translate(0, -8px) scale(0);
      transition: opacity $transition-fast ease-in,
                  transform $transition-fast ease-in;
      width: .3em;
    }
  }

  [type='checkbox']:checked ~ .form__checkbox {
    &::before {
      background-color: $color-blue-input-faded;
    }

    &::after {
      opacity: 1;
      transform: rotate(45deg) translate(0, -8px) scale(1);
    }
  }

  label {
    color: $color-text;
    display: block;
    margin-bottom: -1.25em;
    margin-top: 1.25em;

    @include respond-to(medium) {
      margin-bottom: -1em;
    }

    @media (min-width: $screen-medium + 93px) {
      margin-bottom: -.85em;
    }

    &[required]::after {
      color: $color-white;
      content: '*';
      font-size: .6em;
      font-weight: bold;
      padding-left: .25em;
      position: relative;
      top: -.25em;
    }

    &.form__checkbox-label {
      cursor: pointer;
      display: inline-flex;
      flex-flow: row;
      margin: 0 .75em 0 0;
      padding-left: 2.5em;
      width: auto;

      // scss-lint:disable NestingDepth
      svg {
        margin: .2em;
      }
    }
  }

  select {
    padding: 0 0 0 .5em;
  }

  textarea {
    flex-grow: 1;
    min-height: 140px;
    resize: none;
  }

  //scss-lint:disable PseudoElement
  //scss-lint:disable VendorPrefix
  ::-webkit-input-placeholder {
    color: $color-placeholder;
    font-size: .7em;
  }

  ::-moz-placeholder {
    color: $color-placeholder;
    font-size: .7em;
  }

  :-ms-input-placeholder {
    color: $color-placeholder;
    font-size: .7em;
  }

  :-moz-placeholder {
    color: $color-placeholder;
    font-size: .7em;
  }

  :placeholder {
    color: $color-placeholder;
    font-size: .7em;
  }

  .form__error {
    color: transparent;
    font-size: .6em;
    font-weight: bold;
    height: 0;
    margin-bottom: -.3em;
    margin-top: 0;
    padding-top: .3em;
    text-transform: uppercase;
    transition: color $transition-default ease-out;
  }

  .form__note {
    display: block;
    margin: 1.25em auto 1em;
    max-width: 350px;

    @include respond-to(medium) {
      font-size: .75em;
    }
  }

  .form__submit-error {
    color: $color-white;
    text-align: center;
  }

  .form__field-invalid {
    background-color: $color-selection-light;

    ~ .form__error {
      color: $color-white;
    }
  }

  .form__hidden {
    display: none;
  }

  [type='submit'] {
    border-color: $color-white-border;
    margin-top: 2em;
    padding: .5em 1.4em;
    width: inherit;

    &:focus,
    &:hover {
      border-color: $color-gold-subtle;
      color: $color-gold-subtle;

      //scss-lint:disable NestingDepth
      .icon {
        fill: currentColor;
      }
    }

    .icon {
      fill: currentColor;
      vertical-align: inherit;
    }
  }

  .form__message {
    @include cover();
    align-content: center;
    animation: fade-in $transition-slow * 2 ease forwards;
    background-color: $color-blue-dark;
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    justify-content: center;
    margin: -2px;
    padding: 1em 1em 4em;
    position: fixed;

    > div {
      margin: -3em auto 0;
      max-width: 400px;
      position: relative;
      width: 100%;
    }

    &.form__message--no-anim {
      animation: none;
      opacity: 1;
    }
  }
}
