.header {
  animation: pop-down ($transition-slow * 4) -1s $transition-cubic backwards;
  margin: .5em auto 0;
  will-change: transform;

  .ie & {
    height: 287px;
    max-width: $screen-small;
    position: relative;
    width: 100%;

    @include respond-to(medium) {
      height: 420px;
      width: 550px;
    }

    @include respond-to(large) {
      height: 450px;
      max-width: $screen-large;
      width: 600px;
    }
  }
}

.header__image {
  margin: 0;

  @include respond-to(small) {
    margin: 0 .5em;
    max-width: $screen-small;

    .ie & {
      margin: 0;
      max-width: none;
    }
  }

  @include respond-to(medium) {
    max-width: $screen-large;
    width: 50%;
  }

  .ie & {
    @include cover();
    max-width: 100%;
    width: 100%;
  }

  .header__flash-container {
    animation: firework ($transition-slow * 2) ($transition-slow * 1.5) $transition-cubic backwards;
    transform-origin: 50% 50%;
  }

  .header__flash {
    fill: $color-gold;
  }

  .header__character {
    fill: $color-white;
  }

  .header__text {
    animation: fade-in-header ($transition-slow * 2.1) ($transition-slow * 1.75) $transition-cubic backwards;
    opacity: $opacity-title;
  }
}
