.highlight {
  color: $color-blue-dark;
  display: inline-block;
  margin: 0 .25em;
  opacity: 1;
  position: relative;
  z-index: 1;

  &::before {
    background: $color-gold-subtle;
    content: '';
    display: block;
    filter: blur(1px);
    height: 105%;
    left: -2px;
    margin-left: -.2em;
    margin-right: -.2em;
    opacity: .75;
    position: absolute;
    right: -2px;
    top: -2%;
    transform: rotate(-.75deg);
    z-index: -1;
  }

  a {
    &,
    &:focus,
    &:hover {
      color: $color-blue-dark;
      text-decoration: underline;
    }
  }
}

// scss-lint:disable QualifyingElement
h3.highlight {
  margin-bottom: 1.5em;
  margin-top: .5em;
}

small .highlight {
  margin-right: .45em;
}
