.link {
  border-bottom: 1px dashed $color-white;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  transition: border-bottom-color ease-out $transition-default;

  &:focus,
  &:hover {
    border-bottom-color: $color-gold;
    color: $color-white;
  }
}

.link--back,
.link--next {
  border: 0;
  left: 0;
  padding: .5em;
  position: absolute;
  top: 100%;
  transform: scale(.8);

  svg {
    margin-left: -.5em;
    margin-right: -.25em;
    transform: scale(.5) translateX(0);
    transition: transform ease-out $transition-default;
    vertical-align: text-top;
    will-change: transform;

    @include respond-to(medium) {
      vertical-align: middle;
    }

    @include respond-to(large) {
      vertical-align: text-top;
    }
  }

  &:focus,
  &:hover {
    svg {
      transform: scale(.5) translateX(-.25em);
    }
  }
}

.link--next {
  left: inherit;
  right: 0;

  svg {
    margin-left: -.25em;
    margin-right: -.5em;
    transform: scale(.5) translateX(0) rotate(180deg);
  }

  &:focus,
  &:hover {
    svg {
      transform: scale(.5) translateX(.25em) rotate(180deg);
    }
  }
}

.link--inline {
  left: 0;
  position: relative;
  top: 0;
  transform: scale(.9);

  svg {
    vertical-align: bottom;
  }
}

