.router-nav {
  @mixin nav-separator {
    &::after {
      content: '~ ';
      padding-right: .25em;
      position: relative;
      top: .25em;

      @include respond-to(medium) {
        padding-left: .5em;
        padding-right: .75em;
      }

      @include respond-to(large) {
        padding-left: 1em;
        padding-right: 1.25em;
      }
    }
  }

  animation: fade-in-header $transition-slow ($transition-slow * 2.75) ease-in forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.5em;
  margin: 2em auto;
  max-width: $screen-small;
  opacity: 0;
  padding: 0;
  position: relative;
  will-change: opacity, transform;

  @include respond-to(medium) {
    max-width: $screen-small * 1.25;
  }

  @include respond-to(large) {
    max-width: $screen-small * 1.5;
  }

  li {
    display: inline;
    margin: 0;

    &:not(:nth-last-child(2)) {
      @include nav-separator;
    }
  }

  // scss-lint:disable NestingDepth
  &.router-nav--footer {
    animation: none;
    margin-top: 3em;
    opacity: $opacity-title;
  }
}

.router-link {
  &,
  &:active,
  &:focus,
  &:hover {
    border-radius: .25em;
    color: $color-white;
    font-size: 1.125em;
    opacity: .75;
    padding: .5em .5em .3em .3em;
    position: relative;
    text-decoration: none;
  }
}

.router-nav__indicator {
  background-color: $color-gold;
  border-radius: 5em;
  bottom: 1px;
  height: 2px;
  left: 0;
  margin: 0;
  position: absolute;
  transition: transform ($transition-slow * 1.25) $transition-cubic,
              width ($transition-slow * 1.25) $transition-cubic;

  &.router-nav__indicator-static {
    transition: none;
  }

  &::after {
    // scss-lint:disable ImportantRule
    content: none !important;
  }
}
