.saved-track-wrapper {
  margin: .5em 0 0;
  transition: opacity $transition-fast ease,
              transform $transition-fast ease;

  &:focus {
    animation: bounce-in ease-out $transition-fast;
    -webkit-focus-ring-color: transparent;
    outline-color: transparent;
  }

  &:first-child {
    margin-top: .6em;
  }

  &:last-child {
    margin-bottom: 1.5em;
  }
}

.saved-track {
  background: $color-gold-subtle;
  border: 0;
  color: $color-blue-dark;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
  opacity: .85;
  padding: 0 0 0 .6em;
  transform: rotate(-.5deg);

  .saved-track__inner {
    display: flex;
    flex-flow: column;
    margin: 0;
    max-width: calc(100% - 1.5em);
  }

  .saved-track__name,
  .saved-track__artist {
    font-size: .75em;
    height: 2em;
    line-height: 2em;
    margin: 0;
    overflow: hidden;
    padding-top: .4em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include respond-to(medium) {
      padding-top: .5em;
    }

    @include respond-to(large) {
      padding-top: .4em;
    }
  }


  .saved-track__artist {
    font-size: .6em;
    margin-top: -.3em;
    padding-bottom: .6em;
    padding-top: 0;
  }

  .saved-track__button {
    border: 0;
    color: $color-blue-dark;
    height: 1.3em;
    margin: .25em;
    min-width: 1em;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 1em;

    &,
    &:focus,
    &:hover {
      background: transparent;
      border: 0;
    }

    &:focus,
    &:hover {
      color: $color-blue-dark;
      -webkit-focus-ring-color: $color-blue-dark;
      outline-color: $color-blue-dark;

      //scss-lint:disable NestingDepth
      .icon {
        opacity: 1;
      }
    }

    .icon {
      fill: currentColor;
      opacity: .75;
      padding: 0;
      padding-top: .05em;
      transition: fill ease-out $transition-default;

      @include respond-to(medium) {
        padding-top: .1em;
      }

      @include respond-to(large) {
        padding-top: 0;
      }
    }
  }
}
