table,
.table {
  border-spacing: 0;
  width: 100%;

  th,
  td {
    text-align: left;
    vertical-align: top;
  }
}

.table-wrapper {
  margin: 0;
  overflow: auto;

  table,
  .table {
    min-width: 800px;
  }

  th,
  td {
    vertical-align: top;

    &:first-child {
      padding-left: .75em;
    }

    &:last-child {
      padding-right: .75em;
    }
  }

  th {
    border-bottom: 1px solid $color-white;

    &:not(:first-child) {
      min-width: 160px;
      white-space: nowrap;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: $color-white-faded;
  }
}
