.track-search {
  position: relative;

  .track-search__input {
    height: $form-input-height;
  }

  .track-search__results {
    background-color: lighten($color-white-formfield, 5%);
    border: 2px solid $color-selection-light;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: $form-input-height - 2px;
    z-index: $z-index-header;

    &:empty {
      display: none;
    }
  }

  .track-search__result {
    border-color: transparent;
    color: $color-blue-dark;
    font-weight: 400;
    height: 36px;
    margin: 0;
    overflow: hidden;
    padding: .1em .4em .3em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: $z-index-header;

    //scss-lint:disable NestingDepth
    &:focus,
    &:hover,
    &.selected {
      background-color: lighten($color-white-formfield, 3.5%);
      border-bottom-color: $color-selection-light;
      border-top-color: $color-selection-light;

      &:first-child {
        border-top-color: transparent;
      }

      &:last-child {
        border-bottom-color: transparent;
      }
    }
  }

  .track-search__name {
    //
  }

  .track-search__artists {
    font-size: .8em;
  }
}
