{% extends 'templates/section-base.html' %}

{% block content %}
  <h2 class="no-js"><span>RSVP</span></h2>

  {% if guests %}
    <form-template>
    </form-template>
    <noscript>
      {% include 'templates/public/includes/form.html' %}
    </noscript>

  {% else %}
    <blockquote>I'm giving her all she's got, Captain!</blockquote>
    <cite>― Scotty, when things go wrong</cite>
    <p>We couldn't find your guest code…</p>
    <p>Please visit the site again using the address that appears <span class="highlight">on your invitation.</span></p>
    <p>If it's still not working for you, get in touch with Andy or Kate and we'll either fix the problem, or sort things out in a more traditional way.</p>
  {% endif %}

{% endblock %}
