{% extends 'templates/section-base.html' %}

{% block content %}
  <h2 class="no-js"><span>When</span></h2>

  <h2 class="highlight">
    Saturday the 4th of November 2017
  </h2>

  <br />

  <h3  class="highlight">
    Ceremony at 2<sub>PM</sub>
  </h3>

  <p>
    Please arrive in plenty of time – drinks will be available before the formalities begin!
  </p>

  <div class="border-wrapper border-wrapper--image">
    <img alt="Doves at Pimhill Barn" src="./dist/img/pimhill-doves.jpg" />
    <div class="border-wrapper__border"></div>
  </div>

  <h4><span>A rough idea...</span></h4>

  <small>
  <table>
    <colgroup>
      <col width="120px" />
      <col width="30px" />
      <col />
    </colgroup>
    <tbody>
      <tr>
        <td>from 3<sub>PM</sub></td>
        <td>–</td>
        <td>refreshments, photos and schmoozing</td>
      </tr>
      <tr>
        <td>from 5<sub>PM</sub></td>
        <td>–</td>
        <td>afternoon tea</td>
      </tr>
      <tr>
        <td>from 7<sub>PM</sub></td>
        <td>–</td>
        <td>the band strikes up</td>
      </tr>
      <tr>
        <td>8<sub>PM</sub> onwards</td>
        <td>–</td>
        <td>more food, not to mention more music from the band, and bar service throughout.</td>
      </tr>
    </tbody>
  </table>
  </small>

  {% include 'templates/public/includes/footer-nav.html' %}

{% endblock %}
