{% extends 'templates/section-base.html' %}
{% import 'templates/public/partials/icons.html' as i %}

{% block content %}
  <h2 class="no-js"><span>Where</span></h2>

  <p>We'll be getting married in Shropshire, a short distance from Kate's neck of the woods.

  <div class="border-wrapper border-wrapper--image">
    <img alt="Interior of Pimhill Barn" src="./dist/img/pimhill-interior.jpg" />
    <div class="border-wrapper__border"></div>
  </div>

  <h2 class="flush"><span>The Venue</span></h2>
  <p>
    The ceremony, speeches, dinner and dancing will all be taking place in <span class="highlight">Pimhill Barn,</span> about four miles from the town of Shrewsbury.
  </p>

  <div class="border-wrapper border-wrapper--image">
    <a href="https://www.google.com/maps/dir//52.7855464,-2.7550446/@52.785546,-2.755045,10z?hl=en-GB" target="_blank" rel="noopener" rel="noopener">
      <img alt="Directions to Pimhill Barn" src="https://maps.googleapis.com/maps/api/staticmap?center=pimhill+barn+at+lea+hall,harmer+hill,+shrewsbury+shropshire+sy4+3dy&zoom=10&size=600x320&maptype=roadmap&markers=color:blue%7Clabel:%7C52.785546,-2.757233&key=AIzaSyBmihh13_eZm3iqs7-wjkav6K4M3DyO7JY" />
    </a>
    <div class="border-wrapper__border"></div>
  </div>
  <small class="border-wrapper-annotation">
    Pimhill Barn, Harmer Hill, Shrewsbury, Shropshire, SY4 3DY
  </small>
  <small class="border-wrapper-annotation">
    <a href="https://www.google.com/maps/dir//52.7855464,-2.7550446/@52.785546,-2.755045,10z?hl=en-GB" target="_blank" rel="noopener" rel="noopener" class="link link--next link--inline">Get Directions {{ i.back() }}</a>
  </small>

  <p>
    The barn sits atop an isolated hill overlooking the Shropshire countryside. The hundreds year-old building is adjoined to a traditional brick cart shed and a beautiful dovecote stands nearby. The perfect place to celebrate and dance the night away.
  </p>

  <h2><span>Places to Stay</span></h2>
  <p>
    Despite its apparently remote location, the barn has a choice of places to stay within easy reach.
  </p>

  <h3><span>Hotels</span></h3>

  <div>
    <div class="address">
      <span class="highlight">Albrighton Hall Hotel</span>
      <br /><address>Albrighton, SY4 3AG</address> <small>(1.8 miles)</small>
      <br /><small>
        <a class="link" href="tel:0121619900">0121 619900</a>
        <br /><a class="link" href="http://www.mercure.com/gb/hotel-6629-mercure-shrewsbury-albrighton-hall-hotel-and-spa/index.shtml" target="_blank" rel="noopener">www.mercure.com</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">Premier Inn Shrewsbury North</span>
      <br /><address>Harmer Hill, SY4 3DS</address> <small>(0.5 miles)</small>
      <br /><small>
        <a class="link" href="tel:08715278974">0871 527 8974</a>
        <br /><a class="link" href="http://www.premierinn.com/gb/en/hotels/england/shropshire/shrewsbury/shrewsbury-north-harmer-hill.html" target="_blank" rel="noopener">www.premierinn.com</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">The Silverton</span>
      <br /><address>Shrewsbury, SY3 8JY</address> <small>(5.8 miles)</small>
      <br /><small>
        <a class="link" href="tel:01743248000">01743 248000</a>
        <br /><a class="link" href="http://www.hotels.uk.com/details/AAB329259/The+Silverton.htm" target="_blank" rel="noopener">www.hotels.uk.com</a>
      </small>
    </div>
  </div>

  <h3><span>B&amp;B and Self-Catering</span></h3>

  <div>
    <div class="address">
      <span class="highlight">Newton Meadows Cottages</span>
      <br /><address>Shrewsbury, SY4 3EA</address> <small>(1 mile)</small>
      <br /><small><a class="link" href="http://www.newtonmeadows.co.uk" target="_blank" rel="noopener">www.newtonmeadows.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">The Granary</span>
      <br /><address>Shrewsbury, SY4 3EH</address> <small>(1.5 miles)</small>
      <br /><small><a class="link" href="http://www.thegranaryshropshire.co.uk/" target="_blank" rel="noopener">www.granaryshropshire.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">The Inn at Grinshill</span>
      <br /><address>Shrewsbury, SY4 3BL</address> <small>(3.5 miles)</small>
      <br /><small>
        <a class="link" href="tel:01939220410">01939 220 410</a>
        <br /><a class="link" href="https://www.theinnatgrinshill.co.uk" target="_blank" rel="noopener">www.theinnatgrinshill.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">Burlton Cottages</span>
      <br /><address>Shrewsbury, SY4 5SX</address> <small>(4.2 miles)</small>
      <br /><small>
        <a class="link" href="tel:01939270404">01939 270 404</a>
        <br /><a class="link" href="http://www.burltoncottages.co.uk" target="_blank" rel="noopener">www.burltoncottages.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">Hambrook House</span>
      <br /><address>Shrewsbury, SY3 7AD</address> <small>(5 miles)</small>
      <br /><small><a class="link" href="http://www.hambrookhouse.co.uk" target="_blank" rel="noopener">www.hambrookhouse.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">Hardwick House</span>
      <br /><address>Shrewsbury, SY1 1JJ</address> <small>(6.2 miles)</small>
      <br /><small><a class="link" href="http://www.hardwickhouseshrewsbury.co.uk" target="_blank" rel="noopener">www.hardwickhouseshrewsbury.co.uk</a>
      </small>
    </div>

    <div class="address">
      <span class="highlight">Dovecote Barn</span>
      <br /><address>Shrewsbury, SY4 3AS</address> <small>(4.3 miles)</small>
      <br /><small>
        <a class="link" href="tel:07517480758">07517 480758</a>
        <br /><a class="link" href="https://www.airbnb.co.uk/rooms/5024501" target="_blank" rel="noopener">www.airbnb.co.uk</a>
      </small>
    </div>
  </div>

  <h2><span>Local taxis</span></h2>

  <div>
    <div class="taxi">
      <span class="highlight">Angel Travel</span>
      <br /><small>
        <a class="link" href="tel:07983237725">07983 237725</a>
      </small>
    </div>

    <div class="taxi">
      <span class="highlight">Comet Cars</span>
      <br /><small>
        <a class="link" href="tel:01743344444">01743 344444</a>
      </small>
    </div>

    <div class="taxi">
      <span class="highlight">Central Taxis</span>
      <br /><small>
        <a class="link" href="tel:01743441144">01743 441144</a>
      </small>
    </div>
  </div>

  {% include 'templates/public/includes/footer-nav.html' %}

{% endblock %}
