{% extends 'templates/section-base.html' %}

{% block content %}
  <blockquote>This is where it all begins. Everything starts here, today.</blockquote>
  <cite>― David Nicholls, One Day</cite>

  <p>He asked and she said yes! Andy and Kate are getting married in Pimhill Barn on Saturday the 4th of November 2017.</p>


  <h2><span>Our story<span></h2>

  <p>We met on a dark night on the Aberystwyth seafront, not so long after Freshers week, <span class="highlight">9 long years ago.</span> Kate was a merry first year in a red dress, Andy was a super cool third year with hair that made him look like a member of The Kooks. Dates and adventures aplenty followed.</p>

  <p>What followed was very <em>One Day</em> (good book, even if David Nicholls stole the plot from us) – we promised to stay friends when Andy left uni. We managed for 4 very long years… ish. But we realised. Eventually. And to quote Nicholls himself, “you can live your whole life not realising that what you’re looking for is <span class="no-break"><span class="highlight">right in front of you.</span>”</span></p>

  <div class="border-wrapper border-wrapper--image">
    <img alt="Kandy strike a pose" src="./dist/img/kandy-so-cool.jpg" />
    <div class="border-wrapper__border"></div>
  </div>

  <p>Since then, we’ve moved in together in the Big Smoke, stargazed in the Atlas mountains, wandered new cities and swam in new seas, fed penguins, drank many coffees while we explored Italy, made a brand new city our home, slow-danced in our kitchen countless times, bought our very own home and, along the way, said <span class="no-break">“<span class="highlight">I love you</span>”</span> every single day.</p>

  <h2><span>The proposal</span></h2>

  <p>One of the first conversations that Andy and Kate ever had involved a plot to run away to Italy. It was all very romantic, but highly improbable unless Student Loans England suddenly became far more generous.</p>

  <p>After living together for nearly 2 years, we decided to book the <span class="highlight">trip of a lifetime</span> – an Italian adventure, starting in Rome, fitting in a visit to Sorrento, then on to Florence and finally, to Venice. Incredibly fairy-tale and the prime place for a proposal, right? Andy said it was too obvious so many times that Kate fully expected a proposal when she was brushing her teeth. Certainly not in Italy.</p>

  <p>Well, that turned out to be a total double bluff…</p>

  <div class="border-wrapper border-wrapper--image">
    <img alt="Kandy strike a pose" src="./dist/img/kandy-proposal.jpg" />
    <div class="border-wrapper__border"></div>
  </div>

  <p>After carrying a ring in his pocket all around Italy, we arrived in Florence to a <span class="highlight">mysteriously upgraded suite</span> with a roof terrace, overlooking the city perfectly. A night of dinner, prosecco and wandering the beautiful streets, we decided to pick up another bottle of prosecco on the way back to the room to drink on the terrace. A ring had been hidden behind a flower pot and the rest, as they say, is history…</p>

  {% include 'templates/public/includes/footer-nav.html' %}

{% endblock %}
