{% extends 'templates/base.html' %}

{% block body_class %}admin{% endblock %}

{% block title %}
  Guest list - Kandy Says I Do
{% endblock %}

{% block description %}
  Guest list - Kandy Says I Do
{% endblock %}

{% block header %}
  All our guests so far!
{% endblock %}

{% block content %}
  <section class="section section--admin">
    <div class="section__inner">


    {% if rsvps_accepted %}
      <h2>
        Accepted: {{ rsvps_accepted_count }}
        <small>({{ rsvps_accepted|length }} group{% if rsvps_accepted|length != 1 %}s{% endif %})</small>
      </h2>
      <div class="table-wrapper">
        <table>
          <col /><col /><col /><col /><col />
          <col width="160px" />
          <thead>
            <th>Coming</th>
            <th>Not Coming</th>
            <th>Songs</th>
            <th>Dietary Requirements</th>
            <th>Comments</th>
            <th>Site code</th>
          </thead>
          <tbody>
            {% for rsvp in rsvps_accepted %}
            <tr>
              <td>
                {% if rsvp.guest_group %}
                  {{ ', '.join(rsvp.guest_group) }}
                {% endif %}
              </td>
              <td>
                {% if rsvp.not_guest_group %}
                  {{ ', '.join(rsvp.not_guest_group) }}
                {% endif %}
              </td>
              <td>
                {% if rsvp.song_ids %}
                  {{ ', '.join(rsvp.song_ids) }}
                {% endif %}
                {% if rsvp.song %}
                  {% if rsvp.song_ids %}<br />{% endif %}
                  "{{ rsvp.song }}"
                {% endif %}
              </td>
              <td>
                {% if rsvp.dietary_requirements %}
                  {{ rsvp.dietary_requirements }}
                {% endif %}
              </td>
              <td>
                {% if rsvp.comment %}
                  {{ rsvp.comment }}
                {% endif %}
              </td>
              <td>
                <a class="link" href="/{{ rsvp.guest_code }}" target="preview">
                  {{ rsvp.guest_code }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}


    {% if rsvps_declined %}
      <h2>
        Declined: {{ rsvps_declined_count }}
        <small>({{ rsvps_declined|length }} group{% if rsvps_declined|length != 1 %}s{% endif %})</small>
      </h2>
      <div class="table-wrapper">
        <table>
          <col /><col /><col />
          <col width="160px" />
          <thead>
            <th>Not Coming</th>
            <th>Songs</th>
            <th>Comments</th>
            <th>Site code</th>
          </thead>
          <tbody>
            {% for rsvp in rsvps_declined %}
            <tr>
              <td>
                {% if rsvp.not_guest_group %}
                  {{ ', '.join(rsvp.not_guest_group) }}
                {% endif %}
              </td>
              <td>
                {% if rsvp.song_ids %}
                  {{ ', '.join(rsvp.song_ids) }}
                {% endif %}
                {% if rsvp.song %}
                  {% if rsvp.song_ids %}<br />{% endif %}
                  "{{ rsvp.song }}"
                {% endif %}
              </td>
              <td>
                {% if rsvp.comment %}
                  {{ rsvp.comment }}
                {% endif %}
              </td>
              <td>
                <a class="link" href="/{{ rsvp.guest_code }}" target="preview">
                  {{ rsvp.guest_code }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}


    {% if rsvps_not_responded %}
      <h2>
        Not responded: {{ rsvps_not_responded_count }}
        <small>({{ rsvps_not_responded|length }} group{% if rsvps_not_responded|length != 1 %}s{% endif %})</small>
      </h2>
      <div class="table-wrapper">
        <table>
            <col />
            <col width="160px" />
          <thead>
            <tr>
              <th>Guests</th>
              <th>Site code</th>
            </tr>
          </thead>
          <tbody>
            {% for guest_code in rsvps_not_responded %}
            <tr>
              <td>
                {{ rsvps_not_responded[guest_code]|join(', ') }}
              </td>
              <td>
                <a class="link" href="/{{ guest_code }}" target="preview">
                  {{ guest_code }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}


    </div>
  </section>
{% endblock %}
