* {
  -webkit-focus-ring-color: $color-selection;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  outline-color: $color-selection;

  @include if-has('touch') {
    -webkit-tap-highlight-color: $color-selection;
  }

  @include if-has('webkit-touch') {
    @include respond-to(tiny) {
      &:focus {
        outline: none;
      }
    }
  }
}

::selection {
  background: $color-selection-light;
}

html {
  background-color: $color-blue-dark;
}

body:not(.admin) {
  animation: white-in 1.4s ease-in forwards;
  background-color: $color-blue-dark;
  bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  left: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 1s ease;
}

[nojs] .js-only {
  //scss-lint:disable ImportantRule
  display: none !important;
}

[js] .no-js {
  //scss-lint:disable ImportantRule
  display: none !important;
}

.app-wrapper {
  bottom: 0;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: $footer-height * 2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  .parent-view,
  .child-view {
    margin: 0;
  }

  .child-view {
    left: 0;
    padding-bottom: $footer-height * 2;
    position: absolute;
    right: 0;
    transition: opacity $transition-slow $transition-cubic,
                transform $transition-slow $transition-cubic;

    @include respond-to(medium) {
      padding-bottom: $footer-height * 2.5;
    }
  }
}

.child-view {

  > * {
    animation: fade-in $transition-slow ($transition-slow * 3.25) ease-in backwards;
    will-change: opacity;

    [data-entered='true'] & {
      animation: none;
      transition-delay: 0s;
      transition-duration: 0s;
    }
  }
}

img {
  max-width: 100%;
}
