.section {
  margin: 0;
  padding: .2em 1.05em;

  @include respond-to(medium) {
    padding: .5em 2em;
  }
}

.section__inner {
  margin: 0 auto;
  max-width: $screen-large;
  text-align: center;

  .section--admin & {
    animation: fade-in ease forwards $transition-slow;
    max-width: $screen-large * 1.25;
  }

  .child-view & {
    max-width: $content-width;
  }
}

noscript > .section {
  animation: fade-in $transition-slow ($transition-slow * 3.5) ease-in backwards;

  .section__inner {
    max-width: $content-width;
  }
}
