{% macro heart() %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 51.997 51.997" xml:space="preserve" width=".9em" height=".9em" class="icon">
    <g>
      <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905   c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478   c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014   C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25   c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826   c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514   c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"/>
      <path d="M15.999,7.904c-5.514,0-10,4.486-10,10c0,0.553,0.447,1,1,1s1-0.447,1-1c0-4.411,3.589-8,8-8c0.553,0,1-0.447,1-1   S16.551,7.904,15.999,7.904z"/>
    </g>
  </svg>
{% endmacro %}

{% macro pencil() %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 469.331 469.331" xml:space="preserve" width=".85em" height=".85em" class="icon">
    <g>
      <path d="M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4   c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6   l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3   S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1   l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4   s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z"/>
    </g>
  </svg>
{% endmacro %}

{% macro sad_face() %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 333.829 333.829" xml:space="preserve" width="1em" height="1em" class="icon icon--middle">
    <g>
      <path d="M166.911,333.826C74.879,333.826,0,258.953,0,166.915S74.879,0.003,166.911,0.003c92.045,0,166.918,74.879,166.918,166.918   S258.956,333.826,166.911,333.826z M166.911,12.857c-84.95,0-154.058,69.108-154.058,154.064   c0,84.943,69.108,154.058,154.058,154.058s154.064-69.114,154.064-154.058C320.975,81.965,251.868,12.857,166.911,12.857z    M205.672,97.325c-10.656,0-19.293,8.631-19.293,19.293c0,10.649,8.638,19.293,19.293,19.293s19.293-8.644,19.293-19.293   C224.965,105.956,216.327,97.325,205.672,97.325z M125.336,97.325c-10.656,0-19.293,8.631-19.293,19.293   c0,10.649,8.638,19.293,19.293,19.293s19.293-8.644,19.293-19.293C144.629,105.956,135.998,97.325,125.336,97.325z M97.347,229.833   c19.152-17.385,43.966-26.961,69.853-26.961c25.817,0,50.56,9.525,69.686,26.813c3.953,3.567,10.045,3.265,13.618-0.688   c3.567-3.94,3.265-10.045-0.688-13.618c-22.68-20.489-52.019-31.781-82.617-31.781c-30.688,0-60.104,11.363-82.81,31.973   c-3.94,3.58-4.242,9.666-0.662,13.606c1.902,2.095,4.512,3.162,7.134,3.162C93.189,232.327,95.503,231.504,97.347,229.833z"/>
    </g>
  </svg>
{% endmacro %}

{% macro cancel() %}
<svg xmlns="http://www.w3.org/2000/svg" width=".5em" height="1em" viewBox="0 0 348.333 348.334" class="icon">
  <path d="M336.559 68.611L231.016 174.165l105.543 105.549c15.699 15.705 15.699 41.145 0 56.85-7.844 7.844-18.128 11.769-28.407 11.769-10.296 0-20.581-3.919-28.419-11.769L174.167 231.003 68.609 336.563c-7.843 7.844-18.128 11.769-28.416 11.769-10.285 0-20.563-3.919-28.413-11.769-15.699-15.698-15.699-41.139 0-56.85l105.54-105.549L11.774 68.611c-15.699-15.699-15.699-41.145 0-56.844 15.696-15.687 41.127-15.687 56.829 0l105.563 105.554L279.721 11.767c15.705-15.687 41.139-15.687 56.832 0 15.705 15.699 15.705 41.145.006 56.844z"/>
</svg>
{% endmacro %}

{% macro rings() %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.759 45.759" width="1.25em" height="1.25em" class="icon">
  <path d="M29.69 19.635c-.471-.471-.967-.899-1.484-1.287-1.322.488-2.504 1.292-3.445 2.344 1.12.493 2.169 1.198 3.086 2.115 3.97 3.971 3.97 10.405 0 14.375-3.97 3.971-10.405 3.971-14.375 0-3.97-3.97-3.97-10.404 0-14.375 1.115-1.115 2.425-1.917 3.82-2.405.077-.21.159-.42.245-.628.643-1.544 1.517-2.939 2.573-4.153-2.883-.024-5.772.855-8.207 2.639l-.439-6.065c-.014-.202-.115-.384-.258-.527L9.118 9.581c-.328-.328-.811-.324-1.138.004L.264 17.301c-.328.328-.362.841-.034 1.169l2.063 2.063c.143.143.325.235.525.25l6.123.439C4.994 26.586 5.446 34.173 10.3 39.029c5.354 5.354 14.036 5.354 19.389-.001 5.354-5.356 5.356-14.038.001-19.393zm-26.779-.841l-.893-.894 6.535-6.534.893.893-6.535 6.535zm7.4.84l-5.487-.399 5.108-5.108.385 5.499c-.003.001-.004.005-.006.008z"/>
  <path d="M44.558 10.755l1.134-2.725c.179-.429-.009-.873-.438-1.051L35.18 2.787c-.428-.178-.916-.015-1.094.414l-1.121 2.694c-.078.186-.093.39-.03.581l1.928 5.827c-6.465-1.604-13.306 1.706-15.943 8.045-2.702 6.492-.039 13.876 5.955 17.227.693-.388 1.339-.872 1.917-1.45.111-.112.219-.227.323-.344-5.047-2.226-7.411-8.088-5.282-13.205 2.157-5.183 8.106-7.636 13.291-5.479 5.184 2.157 7.636 8.106 5.479 13.289-1.313 3.157-4.035 5.302-7.132 6.008-.549 1.046-1.223 2.029-2.015 2.935 5.415.047 10.572-3.138 12.781-8.446 2.635-6.329.17-13.507-5.508-16.968l5.44-2.719c.181-.091.311-.254.389-.441zm-7.697 2.211c-.003-.001-.007-.001-.01-.002l-1.723-5.225 6.67 2.775-4.937 2.452zm6.477-3.613l-8.532-3.55.485-1.166 8.531 3.55-.484 1.166z"/>
</svg>
{% endmacro %}

{% macro back() %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.656 49.656" width="1.25em" height="1.25em" class="icon">
  <g>
    <path d="M35.121 1.414l2.828 2.828-20.585 20.586 20.585 20.586-2.828 2.828-23.414-23.414"/>
    <path d="M35.122 49.656l-24.83-24.828L35.121 0l4.242 4.242-20.585 20.586 20.586 20.586-4.242 4.242zM13.121 24.828l22.001 22 1.414-1.414L15.95 24.828 36.535 4.242l-1.414-1.414-22 22z"/>
  </g>
</svg>
{% endmacro %}
