<!DOCTYPE html>
{% autoescape true %}
<html lang="en-gb">
  <head>
    {# Standard #}
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <link rel="canonical" href="https://kandysaysi.do">
    {# Title and decription #}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {# Social media data #}
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:site_name" content="Kandy Says I Do">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kandysaysi.do">
    <meta property="og:image" content="https://kandysaysi.do/dist/img/icons/android-chrome-256x256.png?v=04112017">
    <meta name="twitter:image" content="https://kandysaysi.do/dist/img/icons/android-chrome-256x256.png?v=04112017">
    {# Icons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/img/icons/apple-touch-icon.png?v=04112017">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/img/icons/favicon-32x32.png?v=04112017">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/img/icons/favicon-16x16.png?v=04112017">
    <link rel="manifest" href="/manifest.json?v=04112017">
    <link rel="mask-icon" href="/dist/img/icons/safari-pinned-tab.svg?v=04112017" color="#121251">
    <link rel="shortcut icon" href="/dist/img/icons/favicon.ico?v=04112017">
    <meta name="apple-mobile-web-app-title" content="Kandy Says I Do">
    <meta name="application-name" content="Kandy Says I Do">
    <meta name="msapplication-config" content="/browserconfig.xml?v=04112017">
    <meta name="theme-color" content="#121251">
    {# Fonts #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i">
    {# Styles #}
    <link rel="stylesheet" href="/dist/css/kandy.min.css">
  </head>
  <body nojs {% if guest_code %} guest-code="{{ guest_code }}"{% endif %}
        class="{% block body_class %}{% endblock %}">
    <div class="app-wrapper" id="app-wrapper">
      {% if not simple_template or admin %}
        <section class="section">
          <div class="section__inner">
            <h1 class="header">
              {% block header %}{% endblock %}
            </h1>
          </div>
        </section>
      {% endif %}
      {% block content %}{% endblock %}
      {% if not simple_template %}
        <script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
        <script src="/dist/js/kandy.min.js"></script>
        <script>
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js');
          }
        </script>
      {% endif %}
    </body>
  </div>
</html>
{% endautoescape %}
