<ul class="router-nav router-nav--footer js-only">
    <li><router-link to="/who" class="router-link"><span>Who</span></router-link></li>
    <li><router-link to="/where" class="router-link"><span>Where</span></router-link></li>
    <li><router-link to="/when" class="router-link"><span>When</span></router-link></li>
    <li><router-link to="/rsvp" class="router-link"><span>RSVP</span></router-link></li>
    <nav-indicator></nav-indicator>
</ul>
