{% import 'templates/public/partials/icons.html' as i %}

{% if guests %}
  <form action="/send-rsvp" method="post" class="form">
    <div v-if="!submitted">
      <div data-guests class="form__group">
        {% if guests|length > 1 %}
          <p>Let us know who can make it</p>
        {% else %}
          <p>{{ guests[0] }}, let us know if you can make it</p>
        {% endif %}
        {% for guest in guests %}
          <label for="guest-{{ loop.index }}" class="form__checkbox-label">
            <input name="guest-group" id="guest-{{ loop.index }}" value="{{ guest }}" type="checkbox"
                   {% if guest in past_rsvp.guests or not past_rsvp %}checked{% endif %} />
            <div class="form__checkbox"></div>
            {% if guests|length > 1 %}{{ guest }}{% else %}I can make it{% endif %}
          </label>
        {% endfor %}
        {% if has_kids %}
          <small class="form__note">Please note: kids under five are asked to enjoy the children's room during the approx half-hour ceremony. Qualified nannies will be present.</small>
        {% endif %}
      </div>
      <div data-cannot-attend class="form__group js-only">
        <label for="cannot-attend" class="form__checkbox-label">
          <input name="cannot-attend" id="cannot-attend" type="checkbox" />
          <div class="form__checkbox"></div>
          {% if guests|length > 1 %}We{% else %}I{% endif %} can't make it {{ i.sad_face() }}
        </label>
      </div>
      <div data-songs class="form__group">
        <label for="song">I'll get up and dance if you play...</label>
        <track-search inline-template
                      recovered-tracks="{{ past_rsvp.song_ids|join(',') }}"
                      next-el-query="#dietary-requirements">

          <div class="track-search form__group"
               v-on:keydown.down.prevent="keyDown"
               v-on:keydown.up.prevent="keyUp"
               v-on:keydown.enter.prevent="keyEnter"
               v-on:keydown.esc.prevent="close">

            <input class="track-search__input" name="song" id="song"
                   :class="{ 'form__focused': isFocused }"
                   type="text"
                   autocomplete="off"
                   v-model="query"
                   v-on:keydown.tab.prevent="keyTab"
                   v-on:focus="focus"
                   v-on:blur="unfocus"
                   ref="input"
                   placeholder="Add a song to our playlist!"
                   :placeholder="placeholder"
                   {% if past_rsvp.song %}value="{{ past_rsvp.song }}"{% endif %} />

            <div class="track-search__results js-only"
                 v-if="resultsVisible">
              <button class="track-search__result"
                      :class="{ 'selected': selectedIndex === i }"
                      type="button"
                      :title="'Track: ' + result.name +
                              '\n\n Artist: ' + result.artists +
                              '\n\n Album: ' + result.album"
                      v-for="(result, i) in results"
                      v-on:click.prevent="saveTrack(result.id)">
                <span class="track-search__name" v-text="result.name"></span>
                <span class="track-search__artists" v-text="'(' + result.artists + ')'"></span>
              </button>
            </div>

            <div ref="savedTracks">
              <saved-track inline-template
                           v-if="savedTracks.length"
                           v-for="track in savedTracks"
                           :track-id="track"
                           class="js-only">
                <transition name="slide-right">
                  <div class="saved-track-wrapper"
                       v-if="included"
                       tabindex="-1"
                       :key="trackId"
                       :id="'track-' + trackId">
                    <div class="saved-track"
                         :title="'Track: ' + name +
                                 '\n\n Artist: ' + artists +
                                 '\n\n Album: ' + album">
                      <div class="saved-track__inner">
                        <span class="saved-track__name"
                              v-if="!loading"
                              v-text="name">
                        </span>
                        <span class="saved-track__name" v-else>
                          Loading...
                        </span>
                        <span class="saved-track__artist"
                              v-if="!loading"
                              v-text="'(' + artists + ')'">
                        </span>
                        <span class="saved-track__artist" v-else></span>
                      </div>
                      <input :name="'song-id'" type="hidden" :value="trackId" />
                      <button type="button"
                              class="saved-track__button"
                              v-on:click="remove">
                        {{ i.cancel() }}
                      </button>
                    </div>
                  </div>
                </transition>
              </saved-track>
            </div>

          </div>
        </track-search>
      </div>

      <div data-dietary class="form__group">
        <label for="dietary-requirements">Any special dietary requirements? Let us know!</label>
        <textarea name="dietary-requirements" id="dietary-requirements" rows="2" placeholder="Anything you can't eat?">{% if past_rsvp.dietary_requirements %}{{ past_rsvp.dietary_requirements }}{% endif %}</textarea>
      </div>
      <div class="form__group">
        <label for="comment">Send us a message?</label>
        <textarea name="comment" id="comment" rows="3" placeholder="If there's anthing you need to know, we'll get back to you as soon as we can."
        >{% if past_rsvp.comment %}{{ past_rsvp.comment }}{% endif %}</textarea>
      </div>
      <input type="hidden" name="guest-code" value="{{ guest_code }}">
      <div>
        <button type="submit" class="button">
          {% if past_rsvp %}
            Update RSVP {{ i.pencil() }}
          {% else %}
            Send RSVP {{ i.heart() }}
          {% endif %}
        </button>
        <p v-if="error" class="js-only">
          <br />Uh-oh – something went wrong.<br />Make sure you're online and try again.
        </p>
        {% if past_rsvp %}
          <small style="display:block; margin-top:1em">
            <a class="link"
               href="/gift-list"
               v-on:click.prevent="giftListShown = true">
              100% optional gift list
            </a>
          </small>
        {% endif %}
      </div>
    </div>

    <div v-else class="form__message js-only" tabindex="-1" ref="message">
      <div>
        <div v-if="hasGuests">
          <p>Thanks for {% if past_rsvp %}updating{% else %}sending{%endif%} your RSVP!</p>
          <p v-if="guests.length < {{ guests|length }}">
            We're sorry not everyone can make it, but we're looking forward to seeing everyone else there.
          </p>
          <p v-else>We're looking forward to seeing you at our wedding {{ i.rings() }}</p>
        </div>
        <div v-else>
          <p>Thanks for {% if past_rsvp %}updating{% else %}sending{%endif%} your RSVP.</p>
          <p>We're sorry you can't make it to our wedding, but hope to see you soon.</p>
        </div>
        <p>If anything changes, you can come back here and update your RSVP at any time until <span class="highlight">04/10/2017</span></p>

        <br />
        <p><small>And don't forget the hashtag: <span class="highlight"><a href="https://www.instagram.com/explore/tags/kandysaysido/" target="_blank" rel="noopener">#kandysaysido</a></span>!</small></p>

        <p><small><span class="highlight">Please note:</span> due to the location of the barn, no paper confetti is permitted. Natural confetti will be provided!</small></p>

        <a class="link link--back"
           href="/"
           v-on:click.prevent="reload">
          {{ i.back() }} Back
        </a>
        <a class="link link--next"
           href="/gift-list"
           v-on:click.prevent="giftListShown = true">
          100% optional gift list {{ i.back() }}
        </a>
      </div>
    </div>

    <transition name="fade">
      <div v-if="giftListShown" class="form__message form__message--no-anim js-only" tabindex="-1" ref="giftListMessage">
        {% include 'templates/public/includes/gift-list.html' %}
      </div>
    </transition>

  </form>
{% endif %}
