{% import 'templates/public/partials/icons.html' as i %}

<div>
  <h3 class="highlight">Opening 23/09/2017</h3>
  <p>As a few people asked for one, we've put a gift list together. We want you to know this is <span class="highlight">entirely optional</span> – if you're coming to our wedding, that's enough for us.</p>
  <p>If you'd like to, you can choose useful things to put in our new house or conribute to activities on our honeymoon in Mauritius. Or just use it for inspiration.</p>
  <p>But remember: it's optional!</p>
  <a class="link link--back"
     href="/"
     v-on:click.prevent="giftListShown = false">
    {{ i.back() }} Never mind!
  </a>
  <a class="link link--next"
     href="https://www.johnlewisgiftlist.com/giftint/guestpassword?giftListNumber=703855"
     target="_blank"
     rel="noopener">
    View the gift list {{ i.back() }}
  </a>
</div>
