@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-header {
  from {
    opacity: 0;
  }

  to {
    opacity: $opacity-title;
  }
}

@keyframes white-in {
  0%, 20% {
    background-color: $color-fade-start;
  }

  100% {
    background-color: inherit;
  }
}

@keyframes pop-in {
  0% {
    bottom: -12em;
    opacity: 0;
    transform: translateY(200%) scale(2);
  }

  100% {
    bottom: -2em;
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes pop-up {
  from {
    margin-top: -2em;
  }

  to {
    margin-top: -.5em;
  }
}

@keyframes pop-down {
  from {
    transform: translateY(-80%) scale(2);
  }

  to {
    transform: none;
  }
}

@keyframes firework {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(.95) translate3d(0, 0, 0);
  }

  50% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
