//scss-lint:disable SpaceAroundOperator
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'tiny' {
    @media (max-width: $screen-small) {
      @content;
    }
  } @if $breakpoint == 'small' {
    @media (min-width: $screen-small) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (min-width: $screen-medium) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (min-width: $screen-large) {
      @content;
    }
  }
}
