// scss-lint:disable ImportantRule

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-slow ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0 !important;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(70%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-70%, 0);
}
