body {
  color: $color-text;
  font-size: 1.1em;
  font-style: italic;
  letter-spacing: .05em;
  line-height: 1.6;

  @include respond-to(medium) {
    font-size: 1.2em;
    line-height: 1.5;
  }

  @include respond-to(large) {
    font-size: 1.3em;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }

  &,
  button,
  input,
  select,
  textarea, {
    font-family: 'Lobster Two', serif;
  }

  * {
    margin: 1.25em 0;

    + * {
      margin: 0 0 1.25em;
    }
  }

  blockquote {
    font-size: 1.5em;
    margin-top: .5em;
    padding-left: 1em;
    position: relative;
    text-align: left;

    &::before,
    &::after {
      color: $color-gold-subtle;
      font-size: 1.6em;
      opacity: .75;
      vertical-align: middle;
    }

    &::before {
      content: '“';
      left: 0;
      position: absolute;
      top: -.25em;
    }

    &::after {
      content: '”';
    }
  }

  cite {
    display: block;
    font-size: .9em;
    margin-bottom: 3em;
    margin-top: -2em;
    padding-right: 1em;
    text-align: right;
  }

  address {
    display: inline-block;
    margin: .4em 0 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    font-weight: 100;
    letter-spacing: 2px;
    opacity: $opacity-title;
    text-align: center;

    @include respond-to(medium) {
      letter-spacing: 3px;
    }

    @include respond-to(large) {
      letter-spacing: 4px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    opacity: .6;

    span {
      position: relative;
    }

    span::after {
      background-color: $color-gold-subtle;
      bottom: -7px;
      content: '';
      height: 2px;
      left: -2px;
      position: absolute;
      right: 2px;
      transform: rotate(-1deg);
    }

    &.flush {
      margin-top: 0;
    }
  }

  h2 span::after {
    height: 3px;
  }

  h2,
  h3 {
    font-size: 1.5em;
    margin-top: 1.75em;
  }

  h3 {
    font-size: 1.085em;
    margin-top: 1em;
  }

  h4,
  h5,
  h6 {
    font-size: 1.04em;
    margin-top: 1.5em;
  }

  // scss-lint:disable QualifyingElement
  h2.no-js,
  h3.no-js {
    margin-top: .5em;
  }

  p ~ h2.no-js,
  p ~ h3.no-js {
    margin-top: 3em;
  }

  .no-break {
    white-space: nowrap;
  }
}
