// Colors
$color-white: rgba(255, 255, 255, .8);
$color-white-faded: rgba(255, 255, 255, .2);
$color-white-border: rgba(255, 255, 255, .6);
$color-white-formfield: #e8e8ee;
$color-black: #000000;
$color-fade-start: #ffffff;

$color-blue-dark: #121251;
$color-blue-light: #c7def1;
$color-blue-bg: #529ad4;
$color-blue-input-faded: #717197;

$color-gold: #ffd700;
$color-gold-subtle: #f1d744;

$color-text: $color-white;
$color-placeholder: lighten($color-black, 50%);

$color-selection: $color-gold;
$color-selection-light: lighten($color-gold, 20%);

$color-shadow-subtle: rgba(0, 0, 0, .2);


// Opacities
$opacity-title: .68;
$opacity-text: .5;
$opacity-sub: .45;


// Dimensions
$screen-large: 1200px;
$screen-medium: 992px;
$screen-small: 380px;

$content-width: 600px;
$form-width: 485px;

$footer-height: 2em;

$form-input-height: 47px;


// Transitions
$transition-default: .4s;
$transition-fast: .3s;
$transition-slow: .7s;

$transition-cubic: cubic-bezier(.55, 0, .1, 1);


// Z-indexes
$z-index-behind: -1;
$z-index-base: 0;
$z-index-header: 1;
$z-index-backdrop: 2;
$z-index-nav: 3;
