{% extends 'templates/base.html' %}
{% import 'templates/public/partials/icons.html' as i %}

{% block title %}
  Kandy Says I Do
{% endblock %}

{% block description %}
  Kate and Andy are getting married!
{% endblock %}

{% block content %}
  <section class="section">
    <div class="section__inner">

      <div class="form">
        <div class="form__message">
          <div>

            <p>
              Uh-oh – something went wrong {{ i.sad_face() }}
            </p>
            <p>
              Please go back and try again.
            </p>

            <a class="link link--back"
               href="/{{ guest_code }}">
              {{ i.back() }} Back
            </a>

        </div>
      </div>

    </div>
  </section>

  <noscript>
    {% include 'templates/public/includes/footer.html' %}
  </noscript>
{% endblock %}
