{% extends 'templates/base.html' %}

{% block title %}
  Kandy Says I Do
{% endblock %}

{% block description %}
  Kate and Andy are getting married!
{% endblock %}

{% block content %}
  <section class="section">
    <div class="section__inner">

    <div class="form">
      <div class="form__message">
        {% include 'templates/public/includes/gift-list.html' %}
      </div>
    </div>

  </section>

  <noscript>
    {% include 'templates/public/includes/footer.html' %}
  </noscript>
{% endblock %}
