{% extends 'templates/base.html' %}

{% block title %}
  Kandy Says I Do
{% endblock %}

{% block description %}
  Kate and Andy are getting married!
{% endblock %}

{% block header %}
  {% include 'templates/public/includes/kandy-header.html' %}
{% endblock %}

{% block content %}
  <section class="section">
    <div class="section__inner">
      <div id="app" class="js-only"></div>
    </div>
  </section>

  {% for page in ['who', 'where', 'when', 'rsvp'] %}
    <template id="{{ page }}">
      {% include 'templates/public/pages/' ~ page ~ '.html' %}
    </template>
    <noscript>
      {% include 'templates/public/pages/' ~ page ~ '.html' %}
    </noscript>
  {% endfor %}

  {% for include in ['form', 'footer'] %}
    <template id="{{ include }}">
      {% include 'templates/public/includes/' ~ include ~ '.html' %}
    </template>
  {% endfor %}

  <noscript>
    {% include 'templates/public/includes/footer.html' %}
  </noscript>
{% endblock %}
