{% extends 'templates/base.html' %}
{% import 'templates/public/partials/icons.html' as i %}

{% block title %}
  Kandy Says I Do
{% endblock %}

{% block description %}
  Kate and Andy are getting married!
{% endblock %}

{% block content %}
  <section class="section">
    <div class="section__inner">

    <div class="form">
      <div class="form__message">
        <div>

          {% if guests_coming and guests_not_coming %}
            <p>Thanks for sending your RSVP!</p>
            <p>
              We're sorry not everyone can make it, but we're looking forward to seeing everyone else at our wedding {{ i.rings() }}
            </p>

          {% elif guests_not_coming and not guests_coming %}
            <p>Thanks for sending your RSVP.</p>
            <p>We're sorry you can't make it to our wedding, but hope to see you soon.</p>

          {% elif guests_coming and not guests_not_coming %}
            <p>Thanks for sending your RSVP!</p>
            <p>We're looking forward to seeing you at our wedding {{ i.rings() }}</p>
          {% endif %}

          <p>
            If anything changes, you can come back here and update your RSVP at any time until
            <span class="highlight">04/10/2017</span>
          </p>

          <br />
          <p><small>And don't forget the hashtag: <span class="highlight"><a href="https://www.instagram.com/explore/tags/kandysaysido/" target="_blank" rel="noopener">#kandysaysido</a></span>!</small></p>

          <p><small><span class="highlight">Please note:</span> due to the location of the barn, no paper confetti is permitted. Natural confetti will be provided!</small></p>

          <a class="link link--back"
             href="/{{ guest_code }}">
            {{ i.back() }} Back
          </a>
          <a class="link link--next"
             href="/gift-list">
            100% optional gift list {{ i.back() }}
          </a>

      </div>
    </div>

  </section>

  <noscript>
    {% include 'templates/public/includes/footer.html' %}
  </noscript>
{% endblock %}
